@charset "utf-8";
/* CSS Document */

body{font-family:"微软雅黑";font-size:14px;padding: 0;margin: 0;background: #ececec url(../images/texture.jpg);}

.container{position: relative; width:100%;height: 100%; min-height:800px;padding: 0;margin: 0;}

/*login*/
#login_box{width: 400px; margin:0 auto; position:absolute; top:50%;left: 50%;margin-left: -200px;+margin-left: 120px;margin-top: -170px;}

.login {background: #fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);position: relative;padding:0px 30px 30px;}

.form-signin {max-width: 330px;+width: 300px;padding: 15px;margin: 0 auto;}
.form-signin .form-signin-heading{ padding-bottom:30px; text-align:center;}
.form-signin .checkbox {margin-bottom:20px;margin-top:8px;}
.form-signin .checkbox {font-weight: normal;}
.form-signin .form-control {position: relative;font-size:16px;height: auto;padding: 10px; line-height:26px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;  box-sizing: border-box;+width: 280px;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input[type="text"] {margin-bottom: -1px;/*border-bottom-left-radius: 0;border-bottom-right-radius: 0;*/}
.form-signin input[type="password"] {/*margin-bottom: 10px;border-top-left-radius: 0;border-top-right-radius: 0;*/}
.logintip{ width:100%; height: 24px; line-height: 24px; color: red; font-size: 12px; float: left;}
.user_yzm{ width:60%; float: left;}
.yzm{ width:38%; float: right; margin-top: 3px;}
.width{ width:100%; float: left;}