@charset "utf-8";
/* CSS Document */
body{}

/*#Top*/

#top{ height:100px; position:relative;background:url(../images/top_bg_m.png) top left repeat-x;-webkit-app-region:drag;}
#top .top_logo{float:inherit; height:36px; text-align:center; margin-bottom:6px;}
#top .top_right{float:inherit;text-align:left; padding-left:20%;}

@media screen and (max-width:300px){
	#top .top_right{ padding-left:13%;}
}
@media screen and (min-width:400px) and (max-width:600px){
	#top .top_right{ padding-left:30%;}
}
@media screen and (min-width:600px) and (max-width:800px){
	#top .top_right{ padding-left:36%;}
}
@media screen and (min-width:800px){
	#top .top_right{ padding-left:39%;}
}

#top_menu_btn{ display:block; position:absolute; left:10px; top:30px;}
#top_menu_btn a{ display:block; width:40px; height:40px; line-height:38px; text-align:center; color:#FFF; background:#363A43; border:1px #555 solid; text-decoration:none;}
#top_menu_btn a i{ font-size:20px; display:block; width:40px; height:40px;line-height:38px;}
#top_menu_btn a.checked{border:1px #000 solid;background:#333;}
/*#top_menu_btn a:hover*/

.top_logo{ padding-top:5px;}
.top_logo img{ height:36px;}

#top_right_user_btn{}

.top_user_text{ left:0; right:inherit;}



/*#Main*/
#main{ min-height: 100%; background:#fff;padding-top:0px;}



.main_table_left{ width:inherit;background:#363A43;}
#Left{ width:150px; padding:10px 0px; margin-left:-150px;}

.menu_box_border{width:150px; border:0 none;}
.menu_box{ border:0 none;}



/*mainNav*/
.mainNav li{}
.mainNav li a{ width:150px; height:35px;padding:6px 10px; font-size:13px;}
.mainNav li a i{ font-size:14px;}
.mainNav li a:hover{}
.mainNav li ul.childnav{}
.mainNav li ul.childnav li{}
.mainNav li ul.childnav li a{width:150px; line-height:25px;}

.navi-functions{ display:none;}



/*Right*/
#Right {padding-bottom:20px;}

	/*home*/

.home_content{padding: 0 10px 10px;}

.the_highlighted{padding: 20px 10px 0px;}
.the_highlighted ul li{ width:80px; height:90px;}
.the_highlighted ul li a{}
.the_highlighted ul li a i{ font-size:40px;}






.hc_row1{margin-bottom:0px;}
.hc_row2{margin-bottom:0px;}

.col_md_box i{ font-size:50px;}	
.col_md_box span{ font-size:30px;}

.hc_row3 .col_md_box{ padding:20px;}
.hc_row3 .col_md_box i{ font-size:40px;}
.hc_row3 .col_md_box span{ font-size:20px;}





	/*list_box_pro*/
.list_box_pro{ margin:0 -20px;}
.pro_box{ width:150px; overflow:hidden; float:left; margin:0 0px 20px 20px; padding:10px; border:1px #E5E5E5 solid; background:#FFF;}
.pro_box:hover{ background:#34495E; color:#FFF;}
.pro_box:hover a{ color:#FFF;}
.pro_box .pro_box_img{width:130px; height:110px; overflow:hidden;}
.pro_box .pro_box_img a{ display:table-cell;width:130px; height:110px; line-height:110px; vertical-align:middle;}
.pro_box .pro_box_img a img{ width:130px; height:110px;}
.pro_box .pro_box_name{font-size:14px;}
.pro_box .pro_box_name a{width:130px; height:21px;}













table.jadmin_table{ min-width:960px;}
table.jadmin_table thead th.th_w1{ width:10%;}
.add_from_table td.aft_l{ width:120px;}






	/*ja_add_from*/
.the_text{ width:70%;}
.the_text1{ width:40%;}
.the_text2{ width:50%;}
.the_text3{ width:60%;}
.the_text6{ width:80%;}

.add_from_table2 tr td.aft_nobg .the_add_td .the_text2{ width:90%;}











































