@charset "utf-8";
/* CSS Document */


/*#Top*/
.top_logo{ padding-top:2px;}
.top_logo img{ height:45px;}


/*#Main*/
#main{ min-height: 100%; background: url(../images/nav.jpg) repeat-y -155px 0 #fff;padding-top: 60px;}


.main_table_left{width:146px;}
#Left{ width:146px; padding:20px 10px;margin-left:0px;}


.menu_box_border{width:124px;}
.menu_box{background:#15161A; border-bottom:0 none;}



/*mainNav*/
.mainNav li{}
.mainNav li a{ width:120px;padding-left:10px;}
.mainNav li a i{}
.mainNav li a:hover{}
.mainNav li ul.childnav{left:50px; z-index:9999;}
.mainNav li ul.childnav li{}
.mainNav li ul.childnav li a{width:120px;}




.navi-functions{ width:144px;}









/*Right*/

	/*home*/
.hc_row1 .col_md_box{ padding:40px;}
.hc_row1 .col_md_box i{ font-size:60px;}
.hc_row1 .col_md_box span{ font-size:36px;}

.hc_row3 .col_md_box{ padding:40px;}
.hc_row3 .col_md_box i{ font-size:60px;}
.hc_row3 .col_md_box span{ font-size:26px;}




	/*font*/
.page_font .span3 ul.the-icons li{width:300px; float:left; }



table.jadmin_table{ min-width:980px;}

table.jadmin_table tbody td.td_w_img img{ width:150px;}


.add_from_table td.aft_l{ width:160px;}

















































