@charset "utf-8";
/* CSS Document */

.verify_text{ float:left;}


.Validform_checktip{width:100%;display:inline-block;line-height:20px;height:20px;overflow:hidden;color:#999;font-size:12px;}
/*.Validform_right{color:#71b83d;padding-left:20px;background:url(../images/right.png) no-repeat left center;}*/
.Validform_wrong{color:#e50015;padding-left:20px;white-space:nowrap;background:url(../images/error.png) no-repeat; background-size: 22px 22px;}
.Validform_loading{padding-left:20px;background:url(../images/onLoad.gif) no-repeat left center;}
.Validform_error{background-color:#FFF;}
.demoformbox{ width:100%; float:left; margin-bottom: 9px;}
.demoformbox2{ margin-bottom: 15px;}
.demoformbox3{ margin-bottom: 0;}
.demoformbox4{ width:50%;}



































