@import url('public/reset.css');
@import url('public/bootstrap.min.css');
@charset "utf-8";
/* CSS Document */
/* S Reset */
a {
  background: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #333;
  outline: none;
}
a:hover {
  color: #ff1414; text-decoration: none;
  /*-moz-transition:all .3s ease;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;*/
}
a:focus { text-decoration: none;outline: none;}
::selection {
  background: #cc3333;
  color: #fff;
}
::-moz-selection {
  background: #cc3333;
  color: #fff;
}
.clearBoth {
  clear: both;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  _zoom: 1;
}
* + html .clearfix {
  overflow: auto;
}
em{ font-style: normal;}
/* E Reset */
* html,
* html body {
  background-image: url(about:blank);
  background-attachment: fixed;
}
ol, ul{ margin:0;}

   @font-face {
font-family: 'hwxk';
src:url('../fonts/hwxk.ttf') format('truetype');/*non-IE*/
}

   @font-face {
font-family: 'hwfs';
src:url('../fonts/hwfs.ttf') format('truetype');/*non-IE*/
}

body {
  color: #333;
  line-height: 22px; /*font-size:14px; font-family: 'font', Arial, Lucida Grande, Tahoma, sans-serif;*/
  font: 14px 'Microsoft YaHei', "hiragino sans gb", '黑体', '宋体', Arial, Lucida Grande, Tahoma, sans-serif;
  background: #FFF;
}
* { box-sizing: border-box; /*font-family: 'font', Arial, Lucida Grande, Tahoma, sans-serif; font-size:14px;*/
  font-family: 'Microsoft YaHei', "hiragino sans gb", '黑体', '宋体', Arial, Lucida Grande, Tahoma, sans-serif;
}

.f_l {
  float: left;
}
.f_r {
  float: right;
}
.none {
  display: none;
}
.the_btn {
  border: 0 none;
  cursor: pointer;
}
.orange {
  color: #E78D00;
}
.red {
  color: #F00;
}
.gray {
  color: #CBCBCB;
}
.thewidth {
  width: 1100px;
  margin: 0 auto;
}
.thewidth100 {
  width: 100%;
}

.wb10 {width: 10%;}
.wb13 {width: 13%;}
.wb15 {width: 15%;}
.wb20 {width: 20%;}
.wb25 {width: 25%;}
.wb30 {width: 30%;}
.wb35 {width: 35%;}
.wb40 {width: 40%;}
.wb50 {width: 50%;}
.wb55 {width: 55%;}
.wb60 {width: 60%;}
.wb65 {width: 65%;}
.wb85{ width: 85%;}
.wb70{ width: 70%;}
.wb90{ width: 90%;}
/*container*/
#container {width: 100%; margin: 0; padding: 0;}
div{ display: block;}
.mp p{ margin:0;}
/*font*/
.font-12{ font-size: 12px;}
.font-14{ font-size: 14px;}
.font-15{ font-size: 15px;}
.font-16{ font-size: 16px;}
.font-18{ font-size: 18px;}
.font-20{ font-size: 20px;}
.font-24{ font-size: 24px;}
.font-26{ font-size: 26px !important;}
.font-30{ font-size: 30px;}
.font-32{ font-size: 32px;}
.font-34{ font-size: 34px; font-weight: 400;}
.font-35{ font-size: 35px;}
.font-41{ font-size: 41px;}
.font-60{ font-size: 60px;}
/*颜色*/
.blue{ color:#0a88ea;}
.blue a{ color:#0a88ea;}
.blue2{ color:#668cfa;}
.cfff,.cfff a{ color: #FFF;}
.c999{ color: #999;}
.c9{ color: #c9c9c9;}
.c666,.c666 a{ color:#666;}
.c333{ color:#333 !important;}
.c5{ color: #c5c5c5;}
.gray2 a{ color:#666;}
.gray3{ color: #7d7d7d;}
.gray4,.gray4 a{ color: #494949;}
.c000{ color:#000;}
.red,.red a{ color: #ff1414;}
.yellow{ color: #ffab00;}
.yellow2,.yellow2 a{ color: #ee4d31;}
.yellow3,.yellow3 a{ color: #ff6709;}
.green{ color: #8bc34a;}
.white{ color: #FFF;}
/*距离*/
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml25{ margin-left:25px;}
.ml32{ margin-left:32px;}
.ml5{ margin-left:5px;}
.ml4{ margin-left:4px;}
.ml60{ margin-left:60px;}
.mt3{ margin-top: 3px;}
.mt5{ margin-top: 5px;}
.mt8{ margin-top: 8px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt25{ margin-top: 25px;}
.mt20{ margin-top: 20px;}
.mt40{ margin-top:40px;}
.mt30{ margin-top:30px;}
.mt80{ margin-top: 128px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr17{ margin-right:17px;}
.mr25{ margin-right:25px;}
.mr40{ margin-right:40px;}
.mb8 {margin-bottom: 8px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb25 { margin-bottom: 25px;}
.mb40 { margin-bottom: 40px;}
.pdl20{ padding-left: 20px;}
.pb40{ padding-bottom: 40px;}
.pad10{ padding:10px;}
.pad20{ padding:20px;}
.width{ width: 100%; float: left;}
.center{ text-align: center;}
.pr{ position: relative;}
.img100 img{ width:100%;}
.bg_fff{ background: #FFF;}
.footer_bg{ background: #f1f4f9;}
.tx-r{ text-align: right;}
.tx-1{ text-align: left;}
.underline{ text-decoration: underline;}
.bold{ font-weight: 600;}
/**/
.footer{ width:100%; float: left; padding:20px 0;}
.footer2{ width:67%; float: left;}
.footer2 ul li{ width:20%; float: left; text-align: center; font-family: "宋体";}
.footer2 ul li h4{ font-size: 14px; color: #000; font-weight: 600;}
.footer2 ul li a{ color: #2a2a2a; font-family: "宋体"; font-size: 12px; line-height: 24px;}
.footer3{ width:30%; float: right; margin-top: 10px; padding:0 15px 0 70px; border-left:1px solid #2a2a2a; color: #2a2a2a;}
.songti a,.songti{  font-family: "宋体";}
.bg_gray{ background: #f8f7f7; padding:12px 0 60px;}
.bg_fff2{ background: #FFF; padding:12px 0 22px;}
/*行高*/
.line18{ line-height: 18px;}
.line22{ line-height: 22px;}
.line26{ line-height: 26px;}
.line30{ line-height: 30px;}
/*按钮*/
.btn-blue{color: #fff;background-color:#ff1414; border-radius:0; opacity:1;}
.btn-blue:hover{ color:#FFF; opacity:0.8;}
/*top*/
.bg-black{background: #000;}
.status{ padding:4px 0; }
.status a:hover{color: #ee4d31;}
.search{ width:287px; height: 40px; line-height: 40px; padding:0 40px 0 10px; color: #bcbbbb; border-radius: 20px; float: left; border:1px solid #d2d2d2; display: inline-block;}
.ssbox{ width:287px; height: 40px; float: left;  margin-left: 60px; display: inline;}
.ss{ width:23px; height: 23px; background: url(../images/search.png) no-repeat center;  position: absolute; top:18px; right:10px;  display: inline-block; border:0;}
.bz{ width:430px; float: right;}
.bz ul li{ height: 44px; line-height:37px; float: right; margin-left: 15px; display: inline;}
.bz ul li em{ width:44px; height: 44px; border:1px solid #dbdbdb; text-align: center; border-radius: 50%; overflow: hidden; float: left;}
.allSortOuterbox{ height: 34px; float: left; position: relative;}
.menuleft{ width: 175px; height: 34px; line-height: 34px; float: left; padding-left: 34px;background: url(../images/index_22.png) no-repeat left; cursor: pointer;}
.allSortOuterbox>a:hover{ background: url(../images/index_21.png) no-repeat left;}
.xiala{ width:175px; float: left; position: absolute; top:34px; left: -25px; z-index: 999;}
.xiala ul li a{ width:100%; line-height: 27px; padding:14px 5px 14px 35px; float: left; background:#ff0606; display: inline-block; color: #FFF; border-bottom: 1px dashed #ff5151;}
.xiala ul li{ width:100%; float: left;}
.xiala ul li p{ width: 100%; height: 50px; float: left; background:#ff0606;}
.xiala ul li a:hover{ background: #d60303; border-bottom: 1px dashed #d60303;}
.drop1{ width:27px; height: 27px; background-size: 20px auto; vertical-align: middle; display: inline-block;}
.xiala ul li a p{ height: 10px; float: left;}
.nav{ width:880px; height: 34px; line-height: 34px; float: left;}
.nav ul li{ width:16%; float: left; text-align: center;}
.nav ul li a{ width:100%; float: left; display: inline-block;}
.bor-bottom{ border-bottom: 1px solid #000;}
.shopcar{ width:30px; height: 30px; position: relative;}
.shopcar a{ width:30px; height: 30px; background: url(../images/index_18.png) no-repeat;display: block; position: relative;}
.shopcar a:hover{ background: url(../images/index_19.png) no-repeat;}
.shopcar a em{ width:14px; height: 14px; line-height: 13px; text-align: center; font-size: 12px; border-radius: 50%; color: #FFF; position: absolute; top:2px; right: 2px;}
.padtb18{ padding:18% 0;}
.shopcar a:hover em{ color: #f00;}
/*弹出框*/
.tck{ width:100%; height:100%; position:fixed; top:0; left:0; z-index:100;}
   .tck1{ width:100%; height:100%; opacity:0.7; filter:alpha(opacity=70); background:#000;}

/*gotop*/
.cbbfixed {position: fixed;right: 10px;transition: bottom ease .3s;bottom: -85px;z-index: 3;cursor:pointer;}
.cbbfixed .cbbtn {width: 60px;height: 60px;display: block;background-color: #000000;}
.cbbfixed .gotop {transition: background-color ease .3s;margin-top: 1px;}
.cbbfixed .gotop .up-icon{float:left;margin:22px 0 0 19px;width:23px;height:20px;background: url(../images/side-icon02.png);}
.under-line{ text-decoration: underline;}










