.top{ padding:26px 0; color:#666;}
.leftsidebar{ width:240px; float: left; padding:25px 0;}
.leftsidebar ul li{ width:100%; float: left; line-height: 36px; margin-bottom: 20px;}
.sidetop{ width:100%;  float: left; display: inline; padding:3px 0;}
.side-icon1,.side-icon2,.side-icon3{ width:16px; height: 18px; margin-left: 19%; background-image: url(../images/user/png_03.png); background-repeat: no-repeat; display: inline-block; vertical-align: middle;}
.side-icon11{ background-image: url(../images/user/png_05.png);}
.side-icon2{ width:16px; height: 19px; background-image: url(../images/user/png_10.png);}
.side-icon22{ background-image: url(../images/user/png_09.png);} 
.side-icon3{ width:18px; height: 18px; background-image: url(../images/user/png_14.png);}
.side-icon33{ background-image: url(../images/user/png_16.png);}
.side-icon11{ background-image: url(../images/user/png_05.png);}
.leftsidebar a{color: #666;}
.leftsidebar a:hover{ color: #000;}
.mainbox{ width:100%; background: url(../images/user/user_bg.jpg) repeat-y; float: left; padding-bottom: 40px;}
.current2{ width:100%; border-left: 2px solid #ff0101; background: #f0efef; color: #ff0101;}
.leftsidebar ul li .current3{ color: #000;}
.side-title{ padding-left: 34%;}
.mainright{ width:845px; float: right; padding:20px 0;}
.headphoto{ width:152px; height: 152px; border:7px solid #f8f7f7; padding:3px; background: #FFF; float: left; overflow: hidden;}
.headphoto img{ height: 132px; overflow: hidden; vertical-align: middle; display: inline-block;}
.headright{ width:70%; float: right; margin-top: 20px; line-height: 32px;}
.state{ padding:0 8px; color: #FFF; background: #ff0101;}
.order-line{ border-top: 8px solid #f8f7f7; padding-left: 20px;}
.order-top{ border-bottom: 1px solid #eeeeee; height: 50px; line-height: 50px; padding-right: 37px; overflow: hidden;}
.order-list{ width:100%; padding:16px; float: left;}
.order-list ul li{ width:32%; float: left; margin-right: 1%; margin-bottom: 50px; display: inline; overflow: hidden;}
.userpic{ width:64px; float: left;}
.userpic2{ width:77px; float: left;}
.ordericon1,.ordericon2,.ordericon3{ width:17px; height: 17px; line-height: 17px; background: #ff6709; border-radius: 50%; font-size: 12px; color: #FFF; text-align: center; position: absolute; top:1px; right:4px;}
.ordericon2{  background: #8bc34a;}
.ordericon3{  background: #21a6f3;}
.data-box{ width:80%; float: left; margin-left: 5%; display: inline; }
.data-kk1{ width:220px; height: 34px; line-height: 34px; overflow: hidden; border-radius: 0;}
.data-kk2{ width:139px;}
.data-kk3{ width:430px; height: 120px; line-height: 24px; padding:6px 12px; border:1px solid #ccc; color: #555; overflow: hidden;}
.data-box label{ font-weight: 500; line-height: 34px; text-align: right;}
.bjtx{ width:152px; height: 28px; line-height: 28px; text-align: center; background: #b7def2; opacity: 0.7; position: absolute; left:-7px; bottom: -7px; z-index: 99;}
.save{ padding:4px 35px;}

/*banner*/
div.visual{width:100%!important;height:1166px;position:relative;min-width:978px;}
div.visual ul.slides_container{width:100% !important;height:1082px;display:inline-block;position:relative;}
div.visual ul.slides_container li{text-align:center;width:100% !important;position:relative;height:1082px;overflow:hidden;background:#fff;}
div.visual ul.slides_container li p.mov a{position:relative;z-index:9999999;left:-240px;top:200px;}
div.visual ul.slides_container li a{position:absolute;left:50%;top:370px;margin:0 0 0 88px;}
img.imgVis{position:absolute;left:49%;top:0;margin-left:-940px;}
div.slideControl{width:1100px;height:83px;margin:0 auto;overflow:hidden;position:relative;}
div.slideControl ul.pagination{width:100%;margin:0 auto;overflow:hidden;}
div.slideControl ul.pagination li{width:346px !important;float:left;padding:11px 0 0 0; margin-right: 20px;}
div.slideControl ul.pagination li a{width:100%;height:56px; line-height: 22px; font-size: 14px; display:inline-block;text-decoration:none; border-radius: 0; color: #c7c7c7; padding-left: 30%; padding-right: 30%; position: relative;}
div.slideControl ul.pagination li a:hover, div.slideControl ul.pagination li.current a{ border:1px solid #ee4d31; color: #ee4d31; background: #FFF;}
div.slideControl ul.pagination li a:hover strong, div.slideControl ul.pagination li a:hover span, div.slideControl ul.pagination li.current a strong, div.slideControl ul.pagination li.current a span{color:#947d5c;}
.pagination li a em{  width: 0; height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent; border-bottom: 10px solid #c7c7c7; position: absolute; top:-10px; left: 10%; z-index: 999;}
.pagination li.current a em{ border-bottom: 10px solid #ee4d31;}
/*新品热卖*/
.bg-gray{ background: #f1f4f9; padding:10px 0;}
.silder-box{position:relative;margin:50px auto ;}
.silder{margin:0 auto 0;}
.silder li{width:540px;height:300px;}
.silder li img{width:100%;height:100%;}
.silder-button{top:116px;width:25px;height:54px;position:absolute;cursor:pointer;}
.silder-button.btl{left:10px;background:url(../images/index/bl.png);}
.silder-button.btr{right:10px;background:url(../images/index/br.png);}

.silder-box-1{width:1200px;}
.silder-box-2{width:500px;}
.silder-box-2 .silder li {width:200px;height:200px;}
.silder-box-3{width:1000px;}
.thewidth2{width: 1200px; margin: 0 auto;}
.pro{ width:100%; height: 485px; float: left; overflow: hidden;}
.pro ul li{ width:350px; float: left; margin-right: 25px; display: inline; position: relative;}
.pro ul li:last-child,.series2 ul li:last-child,.series3 ul li:last-child,.series5 ul li:last-child,.series8 ul li:last-child,.series9 ul li:last-child,.series13 ul li:last-child{ margin-right: 0;}
.price{ width:100px; height: 60px; line-height: 28px; position: absolute; bottom: 68px; left: 19px; font-size: 15px;}
.pro ul li a{ width: 100%; height: 30px; border:1px solid #ee4d31; text-align: center; font-size: 14px; display: block;}
.wine-title a{ color: #6b6b6b; padding:0 22px; text-align: center; display: inline-block; font-size: 15px;}
.wine-title a:hover{ color: #ff0606;}
.series1{ width:600px; height: 650px; float: left; overflow: hidden;}
.series1 em{ position: absolute; bottom: 108px; right: 60px; color: #ff0606;}
.series2{ width:245px; height: 650px; margin-left: 5px; display: inline; overflow: hidden;}
.series2 ul li{ width:245px; height: 214px; margin-bottom: 5px; float: left; display: inline; overflow: hidden; position: relative;}
.series3{ width:245px; height: 650px; overflow: hidden;}
.series3 ul li{ width:100%; height: 322px; float: left; position: relative; margin-bottom: 6px; overflow: hidden;}
.series3 ul li em{ position: absolute; top:80px; left:99px;}
.series3 ul li span{ position: absolute; top:110px; left:99px;}
.series3 ul li a:hover,.series2 ul li a:hover,.series1 a:hover,.series4 a:hover,.series5 ul li a:hover,.series9 a:hover,.series8 ul li a:hover,.series12 a:hover,.series7 a:hover,.series13 ul li a:hover,.series14 a:hover{ transition:all 0.2s linear;}
.series3 ul li a:hover img,.series2 ul li a:hover img,.series1 a:hover img,.series4 a:hover img,.series5 ul li a:hover img,.series9 a:hover img,.series8 ul li a:hover img,.series12 a:hover img,.series7 a:hover img,.series13 ul li a:hover img,.series14 a:hover img{ transform:scale(1.05,1.05);}
.series-right{ width:495px; height: 650px; float: right; overflow: hidden;}
.series5 ul li{ width:245px; height: 324px; float: left; margin-right: 5px; display: inline; position: relative; overflow: hidden;}
.ser4-font1{ font-family: 'hwxk' !important; font-size: 33px; color: #000; letter-spacing:-7px;}
.ser4-font2{ font-family: 'hwfs'; color: #000; height: 24px; line-height: 24px; overflow: hidden;}
.series4{ width:495px; height: 320px; overflow: hidden;}
.price1{ width:254px; position: absolute; top:100px; left:51px; overflow: hidden;}
.price2{ width:120px; position: absolute; top:77px; left: 126px; overflow: hidden;}
.price3{ width:125px; position: absolute; top:59px; left: 118px; overflow: hidden;}
.price4{ width:230px; position: absolute; top:120px; left: 369px; overflow: hidden;}
.series6{ width:100%; height: 639px; float: left; overflow: hidden;}
.series7{ width:600px; height: 320px;float: left; overflow: hidden;}
.series8{ width:497px; height: 320px; overflow: hidden;}
.series8 ul li{ width:246px; height: 320px; float: left; margin-right: 5px; display: inline; background: #FFF; overflow: hidden;}
.series8 img{ width:100%; height: 212px; float: left; overflow: hidden; display: inline-block;}
.price5{ width:100%; height: 108px; padding:20px 5px 0 20px; float: left; overflow: hidden;}
.series9{ width:100%; height: 310px; float: left; overflow: hidden;}
.series9 ul li{ width:216px; height: 310px; float: left; margin-right: 5px; display: inline; background: #FFF; overflow: hidden;}
.series9 img{ width:216px; height: 188px; float: left; margin-top: 14px; overflow: hidden;}
.series10{ width:100%; height: 650px; float: left; overflow: hidden;}
.series11{ width:494px; float: left;}
.series12{ width:100%; height: 320px; float: left; overflow: hidden;}
.series13{ width:100%; height: 325px; float: left;}
.series13 ul li{ width:244px; height: 325px; float: left; margin-right: 5px; background: #FFF; display: inline; overflow: hidden;}
.series14{ width:600px; height: 650px; float: right; overflow: hidden;}
.series14 em{ position: absolute; top:53px; right: 30px; color: #FFF;}
.news1{ width:530px; height: 380px; overflow: hidden;}
.newstitle{ width:100%; height: 28px; line-height: 28px; float: left;}
.newstitle em{ width:9px; height: 9px; float: left;  margin-top: 10px; background: #e60012; vertical-align: middle; display: inline-block;}
.newsfont{ font-size: 22px; color: #000;}
.newsline{ width:410px; height: 6px; margin-top: 10px; background: url(../images/index/line.png) repeat-x; vertical-align: middle; display: inline-block;}
.news2{ width:100%; height: 337px; border:1px solid #d5d3d3; float: left; padding:13px; overflow: hidden;}
.news2 ul li{ width:100%; height: 95px; float: left; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #d5d3d3;}
.news2 ul li:last-child{ margin:0; border:0;}
.news2pic{ width:100px; height: 80px; float: left; overflow: hidden;}
.news2right{ width:385px; height: 80px; overflow: hidden; float: right;}
.news2top{ width:100%; height: 20px; line-height: 20px; float: left; overflow: hidden;}
.newstext{ width:100%; height: 54px; float: left; line-height: 18px; color: #adadad; overflow: hidden;}
.infor{ width:100%; height: 337px; float: left;}
.infor ul li{ width:100%; height: 103px; float: left; margin-bottom: 15px; overflow: hidden;}
.infor ul li a{ width:100%; height: 103px; padding:16px; float: left; overflow: hidden; background: #FFF; color: #c9c9c9;}
.infor ul li a em{ width: 92px; font-family: 'hwfs'; height: 72px; font-size: 56px; text-align: center; border-right:1px solid #eee; float: left;}
.infortext{ width:318px; float: left; margin-left: 15px; display: inline-block;}
.infor ul li a:hover{ background: #93c1f7; border-left: 3px solid #276dc2; color: #FFF !important;}
/*右浮*/
.pin_container{ position: relative;}
.pinned{position: absolute; right: 30%; top: 20px; margin-right: -287px;}
.pro_menu{ width:58px; float: left;}
.pro_menu ul li{ width: 58px; height: 53px; float: left;}
.pro_menu ul li a{ width: 58px; height: 53px; background-image: url(../images/index/xl41.png); background-repeat:no-repeat; float: left;}
.pro_menu ul li a:hover,.pro_menu ul li a.active{ background: url(../images/index/xl31.png) no-repeat;}
.pro_menu ul li a.sidenav_icon1{ background-position:0 0;}
.pro_menu ul li a.sidenav_icon2{ background-position:0 -53px;}
.pro_menu ul li a.sidenav_icon3{ background-position:0 -106px;}
.pro_menu ul li a.sidenav_icon4{ background-position:0 -159px;}
.pro_menu ul li a.sidenav_icon5{ background-position:0 -212px;}
/*我的积分*/
.integral{ width:100%; line-height: 78px; padding:28px 0 23px 30px; float: left; border-bottom: 1px solid #eeeeee;}
.integral em{ width:78px; height: 78px; float: left; background: #8bc34a; border-radius: 50%;}
.jftable{ width:790px; line-height: 22px; border:1px solid #e5e5e5; font-size: 12px;}
.jftable th{ height: 40px; line-height: 40px; background: #fafafc; font-weight: 500; text-align: center; color: #666; overflow: hidden;}
.jftable tbody tr{ border-bottom: 1px solid #eeeeee; color: #999;}
.jftable tbody tr td{padding:15px 0 !important;}
.pj tbody tr td{padding:0 0 15px !important;}
.yhq em{ background: #ffab00;}
.yhjpic{ width:170px; height: 100px; padding-top: 24px; background: url(../images/user/user-yhj_07.png) no-repeat; background-size:100%; color: #FFF; display: inline-block; overflow: hidden;}
.yhjpic em{ position: absolute; top:0; left:0;}
.yhj-color{ color: #31adba;}
.xgmm{ margin-left: 1%;}
.xgmm2{ width:100%; float: left; margin-left: 0;}
.data-kk4{ width:274px; border:1px solid #e5e5e5; height: 34px;line-height: 34px;overflow: hidden;border-radius: 0;}
.xgmm2 label{ width:110px;}
.data-kk5{ width:690px;}
.data-kk6{ width:183px;}
.data-kk7{ width:110px;}
.sjkd{ width:123px !important;}
.adrheight{ height: 58px;}
.approve{ width:70px; background: url(../images/user/user-address_06.jpg) no-repeat left; padding-left: 16px; display: inline-block;}
.approve.active,.allmess.active{ background: url(../images/user/user-address_03.jpg) no-repeat left; color: #ff0000;}
.message-top{ width:100%; float: left;}
.message-top ul li{  width:75px; height: 26px; line-height: 26px; text-align: center; margin-right: 15px; display: inline; float: left;}
.message-top ul li a{ width:100%; float: left; display: inline-block; position: relative;}
.message-top ul li a em{ width:16px; height: 16px; line-height: 16px; color: #FFF; text-align: center; position: absolute; top:-1px; right: -7px; background: #ff1212; font-size: 12px; border-radius: 50%;}
.message-top ul li a.current4,.message-top ul li a:hover{ border-bottom: 1px solid #ff1212; color: #ff1212;}
.message1{ width:100%; float: left;}
.message1 ul li{ width:100%; height: 220px; float: left; overflow: hidden;}
.message2{ width:85px;  height: 220px; float: left; padding:16px 20px 0 0; border-right:1px solid #eeeeee; text-align: right;}
.message2 em{ width:9px; height: 9px; background: #FFF; border:1px solid #dcdcdc; position: absolute; top:21px; right: -5px; border-radius: 50%;}
.message3{ width:697px; float: left; border-bottom: 1px dashed #eeeeee; padding: 16px 0;}
.message4{ width:11%; float: left;}
.message5{ width:77%; float: left; padding-right: 35px;}
.message-pic{ width:300px; height: 120px; float: left; overflow: hidden;}
.message6{ width:100%; height: 44px; line-height: 22px; float: left; overflow: hidden;}
.message7{ width:100%; float: left; padding-left: 85px}
.allmess{ width:80px; padding-left: 26px; background: url(../images/user/user-address_06.jpg) no-repeat left;  display: inline-block;}
.ydmess{ padding:1px 10px; border:1px solid #666; color: #666;}
.current5,.ydmess:hover{ border:1px solid #ff1212; color: #ff1212;}
.orderbg em{ background: #ff6666;}
.meicolor{ color: #ff6666;}
.allorder{ width:50%; float: left;}
.allorder ul li{ width:25%; float: left;}
.allorder ul li a:hover,.allorder ul li a.current6{ color: #ff0101; border-bottom: 1px solid #ff0101;}
.order-kk{ width:130px; height: 30px; line-height: 30px; font-size: 12px; border:1px solid #e6e6e6; padding-left: 10px; overflow: hidden;}
.order-btn{ border-radius: 0; background: #f4f2f2; border:1px solid #e6e6e6;}
.order-pic{ width:73px; height: 73px; float: left; overflow: hidden;}
.order-text{ width:135px; float: left; text-align: left;}
.order-xq{ width:70px; padding:2px 0; text-align: center; border:1px solid #d2d2d2; display: inline-block; margin-bottom: 5px; background: #FFF;}
.order-xq:hover{ color: #ff1414; border:1px solid #ff1414;}
.order-form tbody tr{ color: #333;}
/**/
.tck2{ width:440px; position:absolute; left:38%; top:32%; padding: 13px; background:#FFF; border:1px solid #d2d2d2;}
.tck-text{ padding:46px 10px;}
.confirm{ border:1px solid #0a88ea;}
.choose{ width:13px; height: 13px; background: url(../images/user/user-address_06.jpg) no-repeat; display: inline-block;}
.choose.active{ background: url(../images/user/user-address_03.jpg) no-repeat;}
.c6 tbody tr{ color: #666;}
.return{ width:100%; float:left; border-bottom: 1px solid #eeeeee; padding-bottom: 8px; padding-right: 37px;}
.pj th{ background: #f4f3f3;}
.feel{ width:100%; height: 144px; line-height: 22px; float: left; border:1px solid #eeeeee; padding:5px 10px; overflow: hidden;}
.photo{ width:480px; /*height: 80px;*/ float: left;}
.photo ul li{ width:80px !important; padding: 0 !important; height: 80px; float: left; border:1px solid #eeeeee; margin-right: 5px; display: inline; position: relative;}
.photo ul li a{ width:100%; height: 100%; float: left; display: inline-block; float: left;}
.photo img{width: 100%;height: 78px;overflow: hidden;}
.pjbox{ width:100%; border-top: 1px solid #eeeeee; padding:10px 0;}
.pjbox em{  width: 16px; height: 12px; position: absolute; top:-11px; right: 24%; background: url(../images/user/user-sj.jpg) no-repeat;} 
.order-text2{width: 200px; float: left; text-align: left;}
.shoptop{ width:400px; float: right;}
.shoptop ul li{ width:40%; float: left; position: relative;}
.shoptop ul li:last-child{ width:20%;}
/**/
.password1{ width:70%; height: 90px; float: left; margin-left: 23%; margin-top:55px; display: inline;}
.password1 ul li{ width:25%; float: left; position: relative; color: #999;}
.password1-first{ width:34px; height: 34px; line-height: 34px; border-radius: 50%; background: #ebeaea; font-size: 18px; color: #b2b2b2; text-align: center; display: inline-block;}
.password1-line{ width:100%; height: 3px; float: left; background: #ebeaea; margin-top:19px;}
.pasxz1{ position: absolute; top:4px; left:24px;}
.pasxz{ position: absolute; top:4px; left:-11px;}
.shopbox{ width:100%; float: left; background: #FFF; padding:13px;}
.shoptable{ width:100%;}
.shopall{ padding-left: 10px; width:60px;}
/*加减*/
.wan-spinner { border: 1px solid #e5e5e5;display: inline-block;}
.wan-spinner .minus,
.wan-spinner .plus,
.wan-spinner input { height: 25px;float: left;line-height: 1em;padding: 5px;text-align: center;}
.wan-spinner input { border: none;border-left: 1px solid #dddddd;border-right: 1px solid #dddddd;margin: 0;width: 40px;}
.wan-spinner .minus,
.wan-spinner .plus { color: #333333;cursor: pointer;text-decoration: none;width: 25px;}
.account{ width:100%; height: 72px; line-height: 72px; padding-left:18px; background: #f8f7f7;}
.shopsc{ width:110px; padding-left: 20px;}
.qjs{ width:174px; height: 72px; line-height:60px;  color: #FFF; text-align: center; font-size: 24px; background: #ff0000; border-radius: 0; border:0px;}
.like{ width:100%; float: left; background: #FFF; padding:20px 0;}
.like-top{ width:100%; padding:0 13px 10px 0; float: left; border-bottom:1px solid #eeeeee;}
/*购物车图片滚动*/
.pic_con{width:1100px;padding:10px;margin:50px auto 20px;position:relative; float: left; border-bottom: 1px solid #eeeeee;}
.pic_lists{float:left;width:8888px;height:245px;overflow:hidden;position:absolute;top:0px;left:0px;z-index: 9;}
.btn_change{width:24px;height:24px;position:absolute;text-indent:-9999px;cursor:pointer;z-index: 99;}
.left_btn{background:url(../images/user/leftstop.jpg) no-repeat;top:-88px;right:43px;}
.right_btn{background:url(../images/user/rightstart.jpg) no-repeat;top:-88px;right:13px}
.pic_content{overflow:hidden;height:245px;float:left;width:100%;position:relative;margin:-27px auto 0px;}
.pic_content ul li{float:left;width:206px;height:245px; text-align:center;margin:0 34px 0 33px;position:relative;/*border:2px solid #9CC;*/ }
.pic_content ul li a img{width:206px;height:166px}
.account1{ width:100%; height: 50px; line-height: 50px; background: #f8f7f7; float: left; padding:0 23px;}
.account2,.account22{ width:100%; float: left; border-left:1px solid #eeeeee; border-right:1px solid #eeeeee; border-bottom:1px solid #eeeeee; padding:20px 26px;}
.account22{ padding:20px 0;}
.account2 ul li{ width:240px; height: 180px; float: left; border:2px solid #f6f6f6; padding:0 12px; margin-right: 20px; position: relative; display: inline;overflow: hidden;}
.account2 ul li span{ width:24px; height: 25px; background: url(../images/user/shopcar-account2.jpg) no-repeat; background-size: 24px 25px; display: inline-block; float: right; position: absolute; bottom: 0; right:0;}
.account2 ul li:hover,.account2 ul li.active{ border:2px solid #7ecef4;}
.account2 ul li:hover span,.account2 ul li.active span{ background: url(../images/user/shopcar-account1.jpg) no-repeat;}
.account2-top{ height: 46px; line-height: 46px; border-bottom: 1px dashed #e2e2e2;}
.kk6{ width:300px; height: 36px; line-height: 36px; padding:0 10px; border:1px solid #eee; border-radius: 0;}
.js th{ background: #f8f7f7;}
.account3{ width:15px; height: 15px;}
.skk1{ width:184px; height: 32px; line-height: 32px; border:1px solid #e5e5e5;}
.account4{ width:290px; line-height: 34px; float: right;}
.account4 ol li{ width:100%; float: left;}
.account5{ background: #FFF;}
.paybox{ width:100%; float: left; background: #FFF; }

.pad34{ padding:30px 40px;}
.pay1 ul li{ width:247px; height: 70px; float: left; margin-right: 32px; display: inline;}
.pay2{ width:220px; height: 70px; border:1px solid #b3b3b3; padding:10px 0 10px 35px; overflow: hidden; float: right;}
.ljzf{ padding:13px 68px; background: #ff0000; color: #FFF; border-radius: 0; margin-left: 27px;}

.shoptop2{ width:80%; height: 82px; margin-top:60px; float: left; margin-left: 10%;}
.shoptop2 ul li{ width:25%; float: left; position: relative;}
.shoptop3{ width:50%; height: 82px; margin-top:60px; float: left; margin-left: 27%;}
.shoptop3 ul li{ width:50%; float: left; position: relative;}
.password1-line3{ background: #8fc148;}
.password1-se,.password1-de{ width:48px; height: 48px; line-height: 48px; border-radius: 50%; background: #ebeaea; font-size: 18px; color: #b2b2b2; text-align: center; display: inline-block;}
.password1-de{ width:96px; height: 96px; line-height: 96px; color: #666; font-size: 20px; background: #f8f7f7;}
.current7{ background: #8fc148; color: #FFF;}
.pasxz2{ position: absolute; top:-6px; left:34%;}
.pasxz3{ position: absolute; top:-32px; left:28%;}
.pasxz4{ position: absolute; top:-32px; left:20%;}
.pasxz5{ position: absolute; top:-32px; right:20%;}
.font500{ font-weight: 500;}
.angray{ padding:5px 23px; border:1px solid #dcdcdc; background: #f8f5f5; border-radius: 0; color: #333;}
.border-b{ border-bottom:1px solid #eeeeee;}
.border-t{ border-top: 1px solid #eeeeee;}
.border-r{ border-right: 1px solid #eeeeee;}
.border{ border: 1px solid #eeeeee;}
.ml-85{ margin-left: 85px;}
.current1{ background: #4190ff; color: #FFF;}
.password1-line5{ width:100%; height: 3px; float: left; background: #f8f7f7; margin-top:19px;}
.password1-line2{ background: #4190ff;}
.wl ol li{ width:100%; float: left; line-height: 27px; font-size: 12px; margin-left: 20px; display: inline;}
.jftable2{ font-size: 14px;}
.paycg{ width:34%; float: left; margin-left: 36%; margin-top: 10%; display: inline;}
.paycg2{ width:40%; float: left; margin-left: 32%; margin-top: 60px; display: inline; padding-bottom: 10%;}
.paybtn,.paybtn2{ width:200px; height: 50px; line-height: 50px; color: #FFF; text-align: center; border:1px solid #ff0000; background: #ff0000;}
.paybtn2{ border:1px solid #dcdcdc; background: #FFF; color: #d60303;}
.paybtn3{ color: #666;}
.paybtn:hover{ color: #FFF;}
.payheight{ height: 49px;}
.protop{ width:100%; border:1px solid #eeeeee; float: left; background: #FFF;}
.protop ul{ width:100%; float: left; background: url(../images/user/user_bg.jpg) repeat-y; background-size: 100%;}
.protoplist ul{ background:none; }
.protop ul li{ width:100%; float: left; border-bottom:1px solid #eeeeee;  padding:10px 0;}
.yxz{ border-bottom: 1px solid #eeeeee; padding:8px 22px 8px 0;}
.pro-name{ width:120px;}
.yxzbtn{ padding:3px 10px; color: #666; border:1px solid #ff0000;}
.yxzbtn em{ width:7px; height: 7px; background: url(../images/user/pro-fl_03.jpg) no-repeat; vertical-align: middle; display: inline-block; margin-left: 5px;}
.pro-bg{ width:10%; padding-left: 15px; display: inline-block; float: left;}
.pro-lb a{ width:100px; float: left; margin-right: 10px; display: inline; text-align: center; color: #666;}
.pro-lb a.current8{ color: #ff0000;}
.qcall span{ width:16px; height: 16px; background: url(../images/user/pro-fl_04.jpg) no-repeat; vertical-align: middle; display: inline-block; margin-left: 5px;}
.screen{ width:100%; height: 40px; border:1px solid #eeeeee; float: left; padding:10px 0px; overflow: hidden; background: #FFF;}
.screen ul li{ float: left; border-right: 1px solid #eeeeee;}
.screen ul li:last-child,.protop ul li:last-child{ border:0;}
.screen ul li a{ width:106px; text-align: center; height: 20px; line-height: 20px; float: left; color: #666;}
.screen ul li a.current12{ color:#F00; background: url(../images/user/up.jpg) no-repeat;}
.screen ul li a.current13{ color:#F00; background: url(../images/user/down.jpg) no-repeat;}
.screen ul li a:hover{ color: #ff0000;}
.screen ul li em{ width:7px; height: 13px; background: url(../images/user/down.png) no-repeat; vertical-align: middle; display: inline-block; margin-left: 5px;}
.prokk1{ width:44px; height: 20px; line-height: 20px; border:1px solid #ff1414;}
.btn-blue2{ border:0; height: 20px; line-height: 18px;}
.btn-blue3{ border:0; height: 20px; line-height: 18px; background: #e5e4e4; color: #333;}
.btn-blue3:hover{ color: #333;}
/*product*/
.product ul li{ width:270px; height: 360px; float: left; margin-right: 6px; margin-bottom: 6px; padding:0 24px; background: #FFF; border:2px solid #FFF; display: inline;}
.buy{ width:100%; height: 51px;}
.propic{ width:220px; height: 220px; float: left; overflow: hidden;}
.protext{ width:100%; height: 30px; line-height: 30px; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.product ul li:hover{ border:2px solid #ff6600;}
.product ul li:nth-child(4n){ margin-right: 0;}
.product li.active .collect{ width:18px; height: 18px; margin-top: 20px; background: url(../images/user/sc.png) no-repeat; float: left;}
.product li.active .gm{ width:18px; height: 18px; margin-top: 20px; background: url(../images/user/shopcar.png) no-repeat; float: right;}
.collect.current{ width:18px; height: 18px; margin-top: 20px; background: url(../images/user/sc2.png) no-repeat; float: left;}
/*翻页*/
.fy-box{ width:100%; line-height: 38px; float:right; margin-top:40px; overflow:hidden;}
  .fy{ height:38px; float:right; display:inline; overflow:hidden;}
  .fy ul{ list-style:none;}
  .fy ul li{ width:36px; height:36px; line-height:36px; text-align:center; margin-left:5px; float:left; display:inline; overflow:hidden;}
  .fy ul li a{ width:100%; height:36px; border:1px solid #e5e5e5; color:#666; float:left; background:#FFF;}
  .fy ul li a:hover,.fy ul li.current9 a{ border:1px solid #ff0000; color:#ff0000; float:left;}
  .prev3,.next3{width:6px; height: 10px; float:right; background: url(../images/user/prev.png) no-repeat; background-size: 6px 10px; vertical-align: middle; display: inline-block; margin:13px 15px 0 0;}
  .next3{background: url(../images/user/next.png) no-repeat; }
  .fy ul li a:hover .prev3{ background: url(../images/user/prev2.png) no-repeat;}
  .fy ul li a:hover .next3{ background: url(../images/user/next2.png) no-repeat;}
/*商品详情*/
.SingleTop{ height:450px;}
.st_left{ width:506px;height:464px; float:left;}
.thumb{ width:506px; margin:0 auto;}

#thumb_top{ width:402px; height:402px; float: right; border:1px solid #e7e7e7; margin-top: 10px; /*overflow: hidden;*/}
#thumb_top a{width:100%; height:100%; line-height:400px; display:table-cell; text-align:center; vertical-align:middle;}
#thumb_top img{ width:100%; height:100%; margin:0 auto;}
#thumb_list{width:75px; float: left; position:relative;}
.prev22,
.next22{ display:block; width:75px; height:10px; margin-top: 1px; overflow:hidden; text-indent:-999em;}    
.prev22{ float:left; background:url(../images/user/prev2.jpg) left no-repeat;}
.prev22.agrayleft{background:url(../images/user/prev2.jpg) left no-repeat; cursor:default;}
.next22{ float:right;background:url(../images/user/next2.jpg) left no-repeat;}
.next22.agrayright{background:url(../images/user/next2.jpg) left no-repeat;cursor:default;}

#thumbList{ float:left; width:75px; height:405px; margin-top: 5px; overflow:hidden; position:relative;}
#thumbList ul{position:absolute;left:0px;top:0px;}
#thumbList ul li{ float:left;width:75px; height:81px; padding-bottom: 6px; overflow: hidden;}
#thumbList ul li img{ width:100%; height: 100%; border:1px #e5e5e5 solid;}
#thumbList ul li img:hover,
#thumbList ul li.checked img{border:1px #e4393c solid;}

.cloud-zoom-lens {border: 1px solid #DDD;margin:-4px;background-color:#fff;cursor:move;}
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px; display:none;}
.cloud-zoom-big {border:1px solid #ccc;overflow:hidden; background-color:#FFF;}
.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}

/*Options*/
.rpic{ width:402px; height: 472px; float: right;}
.Options{ width:465px; float: right; margin-right: 43px; display: inline;}
.pro-price{ width:100%; height: 60px; float: left; background: #f9f9f9; padding:10px 15px;}
.pro-jf{ width:20px; height: 20px; line-height: 20px; background: #ff6600; color: #FFF; text-align: center; border-radius: 4px;}
.courier{ width:100%; float: left; border-top:1px dotted #d2d2d2; border-bottom:1px dotted #d2d2d2; padding:20px 0;}
.pro-buy{ width:170px; height: 41px; line-height: 41px; color: #FFF; background: #F00; text-align: center; border:0; border-radius: 3px;}
.pro-wait{ background: #a2a2a2; width:223px;}
.pro-shop{ width:144px; height: 41px; line-height: 39px; background: #ffeded; border:1px solid #F00; border-radius: 3px; text-align: center; color: #F00;}
.pro-sc{ width:112px; height: 41px; line-height: 39px;  border:1px solid #d2d2d2;background: #FFF; border-radius: 3px; color: #999; padding-left: 32px;}
.pro-sc em,.pro-sc em.active{ width:10px; height: 10px; background: url(../images/user/pro-details_17.jpg) no-repeat center;  vertical-align: middle; display: inline-block; margin-right: 5px;}
.pro-sc em.active{  background: url(../images/user/pro-details_17.png) no-repeat center;}
.pro-sc.color{ color: #f00;}
.pro-title{ width:100%; height: 89px; border-top: 1px solid #eeeeee;  border-bottom: 1px solid #eeeeee;}
.pro-good{ width:222px; height: 74px; float: left;}
.pro-good img{ width:74px; height: 74px; float: left; overflow: hidden;}
.pro-nr p{ width:135px; float: left; height: 20px; line-height: 20px; overflow: hidden;}
.pro2{ width:55%; float: left;}
.pro2 ul li{ width:25%; float: left; text-align: center; line-height: 86px;}
.pro2 ul li a{ width:100%; color: #666; font-size: 16px; display: inline-block; float: left;}
.pro2 ul li a:hover,.pro2 ul li a.current10{ border-bottom: 2px solid #F00; color: #F00;}
.pro3{ width:204px; height: 87px; line-height: 87px; background: #F00; color: #FFF; border:0; font-size: 16px;}
.pro_det3{ width: 100%; border:1px solid #e6e6e6; float: left; padding-bottom: 20px; overflow: hidden;}
/**/
.pro_det3{ width: 100%; border:1px solid #e6e6e6; float: left; padding:20px; overflow: hidden;}
.yhpj2 a{ color: #FFF;}
.yhpj3{ width: 50%; padding:0 10%; float: left; font-size: 12px; border-right: 1px dashed #e6e6e6;}
.yhpj3 ul li{ width: 100%; height: 20px;line-height: 20px; float: left; margin-bottom: 6px;}
.yhpj4{ width: 100%; padding:29px 32px 20px 30px; float: left;}
.yhpj-1{ width: 200px; height: 20px; float: left; background: #f3f3f3; overflow: hidden; margin-top: 4px; }
.button7{ width:200px; height: 50px; line-height: 50px; display: inline-block; color: #FFF; background: #ff6600; border:0;}
.yhpj-1 span{ height: 20px; background: #ff6600; float: left;}
.pj-top{ height: 60px; padding: 12px 0;}
.pj-top ul li{ width:11%; line-height: 30px; margin-left: 3%; float: left; text-align: center;}
.pj-top ul li a{ width:100%; float: left; display: inline-block;}
.pj-top ul li a:hover,.pj-top ul li a.current11{ border-bottom: 2px solid #F00; color: #F00;}
.pl-box ol li{ width:100%; padding:20px; border-bottom: 1px solid #eeeeee; float: left;}
.pl-box ol li:last-child{ border-bottom: 0;}
.pl-tx img{ width:80px; height: 80px; display: inline-block; margin-bottom: 10px; overflow: hidden;}
.seckill-time{ width:100%; padding:0 15px; height: 30px; line-height: 30px; background: #fac7c7; overflow: hidden; float: left;}
.index_activity .f_r .countdown{ height: 65px; line-height: 65px; text-align: center; background:#cd2f30; color: #FFF; font-size: 22px;}
.countdown span{  padding:2px 4px; font-weight: 600; margin-right: 2px; font-style: normal; color: #F00;}
.pro-yhq{ width:124px; height: 24px; line-height: 24px; color: #FFF; display: inline-block; background: url(../images/user/pro-details-yhq_03.jpg) no-repeat; padding:0 10px; font-size: 12px; overflow: hidden;} 
.help-text p{ line-height: 31px; margin-bottom: 30px; text-indent: 2em; width:94%; margin-left: 3%;}
.help-left em{ width:24px; height: 24px; background-image: url(../images/user/help2.png); background-repeat: no-repeat; display: inline-block; margin-left: 19%; float: left; margin-top: 10px;}
.help-icon1{ background-position: 0 0;}
.help-icon2{ background-position: 0 -28px;}
.help-icon3{ background-position: 0 -56px;}
.help-icon4{ background-position: 0 -84px;}
.help-left em.active{ background-image: url(../images/user/help.png);}

.input_file_container{ background: #b7def2; position: absolute; bottom:0; left:-6px;display:block; float: left; overflow: hidden; width: 152px; height: 28px;border: 0; font-size: 10pt; line-height: 28px; text-align:center; color: black;  text-decoration: none;  }  
.input_file,.input_file2{  width:100%; position: absolute; cursor: pointer; left: 0; filter:alpha(opacity=1); /* IE */  -moz-opacity:0.01; /* Moz + FF */  opacity: 0.01; /* 支持CSS3的浏览器（FF 1.5也支持）*/ }  
.input_file_container2{ width:78px; height: 78px; background: url(../images/user/user-pj_03.jpg); float: left; overflow: hidden;}
.input_file2{ height: 78px;}
/*404*/
.bg_404{ background:url(../images/404_03.jpg) repeat; padding:12px 0 60px;}
.error,.error2{ width: 170px; height: 40px; line-height: 40px; background: #fb9480; color: #FFF; text-align: center; display: inline-block; font-size: 18px; border-radius: 3px;}
.error2{ background: #ffeded; border:1px solid #999; color: #999;}
.error:hover{ color: #FFF;}
.error2:hover{ color: #999;}
.bg-yellow{ background: #fdf5b8; padding:26px 0;}
.coupons{ width:24%; height: 146px; float: left; background: #FFF; padding:8px; overflow: hidden;}
.coupons1{ height: 129px; border:2px solid #668cfa; padding-top:20px; line-height: 40px;}
.cou-text{ font-size: 28px; border-bottom: 1px dashed #000; color: #000; display: inline-block; padding-bottom:15px;}
.coupons2{ width:76%; float: left;}
.coupons2 ul li{ width:30%; float: left; margin-left: 3%; display: inline; height: 146px; background: rgba(255,255,255,0.5); padding:8px; overflow: hidden;}
.coupons2 ul li a{ width:100%; height: 129px; float: left; background: #FFF;  text-align: center; color: #545454; overflow: hidden;}
.cou-font{ font-size: 70px; color: #668cfa;}
.couponsbox{ padding:0 52px;}
.yhq_box{ padding:160px 100px 160px 127px;}
.yhq-pic{ width:292px; height: 180px; float: left; background: url(../images/user/yhqxq.png) no-repeat; overflow: hidden; padding:10px 32px 0;}
.ljlq{ width:100%; height: 36px; line-height: 36px; float: left; text-align: center; background: #ffff00; font-size: 19px; color: #31adba; border-radius: 4px;}
.yhq-text{ width:64%; float: right; padding-top: 20px;}
/*news*/
.newsleft{ width:240px; float: left;}
.gg ul li{ width:100%; height: 60px; line-height: 60px; float: left; background: #FFF; overflow: hidden;}
.gg ul li a{ width:100%; float: left; height: 60px; padding:0 18px 0 48px; display: inline-block;}
.gg ul li a.current14,.gg ul li a:hover{ color: #ff0101; background: url(../images/sj.png) no-repeat right #f0efef; background-position: 214px 26px; background-size: 5px 8px; vertical-align: middle; display: inline-block; overflow: hidden;}
.newspro{background: #f0efef; height: 40px; line-height: 40px; padding:0 14px; }
.newspic ul li{ width:100%; height: 256px; border-bottom: 1px solid #eeeeee; float: left; padding:10px 30px 0; background: #FFF; overflow: hidden;}
.newspic ul li:last-child{ border-bottom: 0;}
.newsright{ width:76.5%; float: right; background: #FFF; padding:15px 0 20px 20px; min-height: 814px;}
.padb10{ padding-bottom: 10px;}
.newslist{ padding-right: 30px; }
.newslist ul li{ width:100%; float: left; height: 50px; line-height: 50px; overflow: hidden;}
.newslist ul li a{ width:90%; float: left; background: url(../images/newsdd.jpg) no-repeat left center; padding-left: 15px; color: #666; font-size: 16px;}
.newslist ul li a:hover{ color: #f00;}
.pdr30{ padding-right: 30px;}
.newsdetails{ padding:25px 50px;}
.newsxq{ text-indent: 2em; line-height: 40px;}
.pj-top2{ text-align: left; padding-left: 10px; background: #f4f3f3; height: 40px; line-height: 40px; margin-bottom: 10px; overflow: hidden;}
.pj-order{ padding:15px 35px;}
.padtb15{ padding:13px 45px;}
.returnlist ul li{ width:110px; height: 110px; padding:0; float: left; margin-right: 11px; display: inline-block; position: relative; border:1px solid #eee; overflow: inherit;}
.returnlist ul li a{ width:100%; float: left; display:inline-block;}
.close-xx{ width:19px; height: 19px; background: url(../images/close-xx.png) no-repeat; position: absolute; top:-8px; right: -8px; cursor:pointer; z-index: 9999;}
.jfbox{ width: 236px; height: 38px;line-height: 38px; padding-left: 10px;float: left;  border: 1px solid #0a88ea; margin-right: 5px;display: inline; overflow: hidden; color: #666;}
.jfbtn{ width: 83px;height: 38px; line-height: 38px; color: #FFF;float: left; background: #0a88ea; border: 0;}
.addnew{ width:100%; height: 140px; padding-top: 64px; float: left; display: inline-block;}
.preferential{ width:41px; height: 21px; line-height: 21px; color: #FFF; background: url(../images/user/pro4_03.png) no-repeat; padding-left: 10px;}
.phoneewm{ border:1px solid #eee; padding:5px; background: #FFF; position: absolute; top:20px; left: 0; z-index: 999;}
.phonebuy a{ padding:5px 10px;}
.phonebuy a:hover{ background: #e9e9e9;}
.pin_wrapper{ z-index: 999;}
.pad40{ padding:40px;}
.problem ul li{ width:100%; float: left; margin-bottom: 10px;}
.bg-fa{ background: #fafafa; padding:8px 5px;}
.wb3{ width:3%;}
.wb95{ width:95%; line-height: 26px;}
.layui-layer-content{text-align: center;}
.dz-height{ height: 80px; line-height: 20px; overflow: hidden;}
.ddbz{ height: 80px; line-height: 20px; overflow: hidden; border:1px solid #eee;width:100%}
.goonshop{width:120px; height:40px; line-height:40px; text-align:center; border:1px solid #ddd; background:#FFF;}
.yhqbox{ height: 24px; line-height: 24px; color: #FFF; background: #ff6600; padding:0 15px; position: relative;}
.yhqbox em{ border-style: solid;border-width: 1px;display: block;height: 6px;position: absolute;top: 10px;width: 4px;background: #fff;z-index: 999;}
.lefticon{ border-color: #f60 #f60 #f60 #fff; border-radius: 0 15px 15px 0; left: -1px;}
.righticon{ border-color: #f60 #fff #f60 #f60; border-radius: 15px 0 0 15px; right: -1px;}
.yhqbox span{ float: left; padding-right: 5px; margin-right: 5px; border-right: 1px dashed #FFF;}
.padt15{ padding-top: 15px; line-height: 24px;}

.tck22{ width: 440px;position: absolute;left: 38%;top: 32%;background: #FFF; border: 1px solid #d2d2d2;}
.orderwait{ background: #f5f3f3;}
.orderwait2{ width:60%; float: left; margin-left: 20%;}